export NIXOPS_STATE=nixops.sqlite
export EC2_SECRET_KEY=`pass aws.amazon.com/kasgal@posteo.net/iam/nixops/secret_key`
export EC2_ACCESS_KEY=`pass aws.amazon.com/kasgal@posteo.net/iam/nixops/access_key`
source_up
